<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel='stylesheet' type='text/css'
          href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css'>
    <link rel="stylesheet" href="{{ static_url('index.css') }}">
    <title>Welcome</title>
</head>
<body>
<div class="container">
    <form action="/login" method="POST" class="ui form">
        {% module xsrf_form_html() %}
        <div class="field">
            <input id="nick" name="nick" type="text" placeholder="enter your nick...">
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ static_url('index.js') }}"></script>
</body>
</html>