<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <link rel="stylesheet" href="{{ static_url('game.css') }}">
    <title>TicTacToe</title>
</head>
<body>
<h1>Setting up the game...</h1>
    <div class="ui three column grid">
        <div class="column">
            <div class="square side opponent"></div>
            <h2 class="color">His Color</h2>
        </div>
        <div class="column">
            {% for x in range(9) %}
                <div class="square middle"></div>
            {% end %}
            <div id="turn">
                <h3>Who begins?</h3>
                <span>Comp</span>
                <span>Me</span>
            </div>
        </div>
        <div class="column">
            <div class="square side me"></div>
            <h2 class="color">My Color</h2>
        </div>
    </div>
<script type="text/javascript" src="{{ static_url('vsComp.js') }}"></script>
</body>
</html>